
#overlay{
	z-index:3;
	position: fixed;
	background-color: #000;
	opacity: 0.8;
	width: 100%;
	height: 100%;
	cursor: pointer;
	display: none;
}
#modal_form{
	border-radius: 5px;
	border: 3ps #000 solid;
	background: #fff;
	position: fixed;
	top:25%;
	left:50%;
	margin-top: -250px;
	margin-left: -150px;
	display: none;
	z-index: 5;
	padding: 20px 10px;
	opacity: 0;
	width: 600px;
}
#modal_form #modal_close {

	position: absolute;
	top: 30px;
	right: 10px;
	cursor: pointer;
	display: block;
}

#span_error{
	font-size: 26px;
	border: 1px #828282 solid;
	padding: 5px;
}
